<!-- http://jsfiddle.net/kov23nu4/33/ -->

<head>
    <link type="text/css" rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap" rel="stylesheet"> 
</head>
<body>
    <div class="banner">
        <div class="message" id="focusstate">
            you're focused on me!
        </div>
        <div class="counter">
            you've unfocused on me <span id="counter">0 times</span>
        </div>
    </div>
    <script type="text/javascript" src="../static/focused.js"></script>
</body>
